@mixin stretch-and-align {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 0.5rem 0;
}

@mixin card-actions {
  * {
    margin: 0 0.5rem !important;
  }

  .alert-message {
    color: #b3261e;
    font-size: 0.7rem;
    text-align: center;
  }
}

@mixin form-header {
  .form-header {
    padding-top: 1.5rem;
    margin: -1rem -1rem 1rem;

    h2 {
      text-align: center;
    }
  }
}

@mixin form-cards {
  @include stretch-and-align;
  @include card-actions;
  @include form-header;
}
