$albero-primary-palette: (
  50:  #d8f3dc,
  100: #b7e4c7,
  200: #95d5b2,
  300: #74c69d,
  400: #52b788,
  500: #40916c,
  600: #2d6a4f,
  700: #24593f,
  800: #1b4332,
  900: #112b21,
  contrast: (
    50:  rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
);

$albero-secondary-palette: (
  50: #f4e5f3,
  100: #e3bfe1,
  200: #d195ce,
  300: #be6bba,
  400: #af4cac,
  500: #a0309e,
  600: #932c98,
  700: #822590,
  800: #722187,
  900: #571779,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  )
)
