<mat-card>
  <mat-card-header>
    <mat-card-title>{{ member().firstName }} {{ member().lastName }}</mat-card-title>
    @if (member().placeOfBirth) {
      <mat-card-subtitle>{{ member().placeOfBirth }}</mat-card-subtitle>
    }
  </mat-card-header>
  <mat-card-content>
    @if (member().dateOfBirth) {
      <p>Nacimiento: {{ member().dateOfBirth }}</p>
    }
    @if (member().notes) {
      <p>{{ member().notes }}</p>
    }
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" [disabled]="editionBlocked()" (click)="editingOutput.emit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button color="warn" [disabled]="editionBlocked()" (click)="deleteMemberOutput.emit()">
      <mat-icon>delete</mat-icon>
    </button>
    @if (last()) {
      <button mat-icon-button color="primary" (click)="addMemberOutput.emit()">
        <mat-icon>add</mat-icon>
      </button>
    }
  </mat-card-actions>
</mat-card>