p
  margin: 1.5rem 1rem

.example-card
  max-width: 400px
  margin: 2rem 0.5rem
  border: solid black
  border-radius: 0.5rem

.mat-card-actions
  min-height: 2.5rem
  display: flex
  justify-content: flex-end