<div class="banner mat-elevation-z5">
  <h1 class="title">Albero Project</h1>
  <div class="button-row">
    <a mat-raised-button href="/login">Start Now!</a>
  </div>
</div>

<div class="presentation-row">
  <div class="presentation-body mat-elevation-z1">
    <h2>Who we are</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="presentation-body mat-elevation-z1">
    <h2>Build your family tree</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>
<div class="presentation-row">
  <div class="presentation-body mat-elevation-z1">
    <h2>Load all your documents</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
  <div class="presentation-body mat-elevation-z1">
    <h2>Manage your folder</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  </div>
</div>