@import 'utils/stylesheets-mixins/palettes'

.banner
  padding: 3rem 0
  display: flex
  flex-flow: column
  align-items: center
  background-color: map-get($albero-primary-palette, 600)
  .first-body
    align-self: start
    display: flex
    flex-flow: row wrap
    align-items: center
    color: white
    .banner-logo
      display: flex
      flex-flow: row wrap
      align-items: center
      gap: 1rem
      .logo
        background-color: map-get($albero-primary-palette, 600)
        border-radius: 5rem
        height: 10rem
        width: 10rem
      .title
        margin-bottom: 0
        text-align: center
        font-size: 4rem
        font-weight: 700
        line-height: 4.1rem

.presentation-row
  display: flex
  flex-flow: column
  padding: 2rem 0.5rem 0
  gap: 2rem
  .presentation-body
    border-radius: 1rem
    padding: 1rem
    background-color: white
    h2
      margin-top: 1rem
      margin-bottom: 0.5rem
    p
      text-align: justify

@media ( min-width: 600px)
  .presentation-row
    padding: 2rem 2rem 0
    display: flex
    flex-flow: row