<nav class="nav-bar mat-elevation-z6">
  <img class="logo" src="assets/img/albero-logo.svg" height="40px" width="40px" (click)="goHome()">
  <div class="button-web-container">
    @if (isLoggedIn()) {
      <button mat-button>SETTINGS</button>
      <button mat-button (click)="goHome()">HOME</button>
      <button mat-button (click)="logOut()">LOGOUT</button>
    } @else {
      <button mat-button (click)="logIn()">LOGIN</button>
    }
  </div>
  <div class="button-mobile-container">
    @if (isLoggedIn()) {
      <button mat-icon-button><mat-icon>settings</mat-icon></button>
      <button mat-icon-button (click)="goHome()"><mat-icon>home</mat-icon></button>
      <button mat-icon-button (click)="logOut()"><mat-icon>logout</mat-icon></button>
    } @else {
      <button mat-icon-button (click)="logIn()"><mat-icon>login</mat-icon></button>
    }
  </div>
</nav>