@import 'utils/stylesheets-mixins/palettes'

.nav-bar
  position: sticky
  top: 0
  z-index: 100
  padding: 0.5rem
  display: flex
  flex-flow: row
  justify-content: space-between
  align-items: center
  background-color: map-get($albero-primary-palette, 800)
  color: white
  .logo
    border-radius: 20px
    cursor: pointer

.button-mobile-container
  display: block
.button-web-container
  display: none

@media ( min-width: 600px)
  .button-mobile-container
    display: none
  .button-web-container
    display: block